@nessie:registry=https://nexus.topaas.ns.nl/repository/NS_DSM_NPM/
//nexus.topaas.ns.nl/repository/NS_DSM_NPM/:_auth="d1hfU2s0SUI6cG1mYlFsRUpoWjRSWXkwclh4Y2FjR0o0eGxBSmpFWUFRSHQxVmZPMlh2MTc="
email=topaas-svc-DSM.reader@nslogin.nl
always-auth=true